body {
  font-family: Oxygen-Sans, sans-serif;
}
input {
  padding: 6px 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.input {
  width: 100%;
}
button {
  background: #0089FF;
  border: 1px solid #006AC5;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.47);
  border-radius: 3px;
  padding: 6px 8px;
  cursor: pointer;
}
.issue {
  border: 1px dashed #aaa;
  padding: 10px;
  margin-bottom: -1px;
  page-break-inside: avoid;
  font-size: 12px;
}
.issue .issue-key {
  display: inline-block;
  width: 5.5em;
}
@media print {
  .noprint {
    display: none !important;
  }
}
.issue h1,
.issue h3,
.issue h2{
  margin: 0;
}
.issue h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1.1em;
}
.issue h3 div {
  display: inline-block;
  margin-right: 30px;
}
.issue h3 img {
  display: block;
  float: left;
  margin-top: 3px;
  margin-right: 4px;
}
.issue .issue-description {
  white-space: pre-line;
}
