<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Jira issue printer</title>
		<style>
		[ng\:cloak], [ng-cloak], [data-ng-cloak], .ng-cloak {
			display: none !important;
		}
		</style>
		<link rel="stylesheet" href="app.css">
		<script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
		<script src="app.dev.js"></script>
	</head>
	<body data-ng-view data-ng-cloak data-ng-app="dashboard">
    <div class="printable" data-ng-controller="PrintController">
      <div class="noprint">
        <form>
          <label for="jql">Search query - JQL</label>
          <input type="text" id="jql" class="input" placeholder="JQL" data-ng-model="jql">
					<div style="display: inline-block;">
						<button data-ng-click="load()">Load issues</button>
	          <button data-ng-click="print()">Print</button>
	          <span data-ng-show="issues.length && !loading"><strong>Found </strong>{{issues.length}}</span>
	          <i data-ng-show="loading">Loading ...</i>
					</div>

					<div style="display: inline-block; float:right;">
						<input type="text" placeholder="username" data-ng-model="username">
						<input type="password" placeholder="password" data-ng-model="password">
					</div>
          <hr style="clear: both;">
        </form>
      </div>
      <article class="issue" data-ng-repeat="issue in issues">
        <h1><span class="issue-key">{{issue.key}}</span> <span class="issue-summary">{{issue.fields.summary}}</span></h1>
        <h3>
          <div><img data-ng-src="{{issue.fields.issuetype.iconUrl}}"> {{issue.fields.issuetype.name}}</div>
          <div><img data-ng-src="{{issue.fields.priority.iconUrl}}"> {{issue.fields.priority.name}}</div>
          <div><img data-ng-src="{{issue.fields.status.iconUrl}}"> {{issue.fields.status.name}}</div>
        </h3>
        <h2><strong>Reporter</strong> <span class="issue-reporter">{{issue.fields.reporter.displayName}}</span> - <span class="issue-created">{{issue.fields.created | date: 'dd.MM.yy'}}</span></h2>
        <!-- <p class="issue-description">{{issue.fields.description}}</p> -->
      </article>
    </div>
	</body>
</html>
